html,body{
    width: 100%;
    height: 100%;
    display: inline;
    background-color: black;
}
#mapDiv {
    width: 99%;
    height: 94%;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
